body {
    color: white;
    background: deeppink;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    font-size: 36px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.barbie-logo {
    height: 50px; /* Ajuste o tamanho da logo conforme necessário */
}

.flix {
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.chamada {
    background: #ff69b4;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.chamada-texto {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 48px;
    color: white;
    font-weight: 700;
}

p {
    font-size: 22px;
    color: #f0f0f0;
}

.categoria {
    padding: 0 20px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.categoria h2 {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.categoria-videos {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria-videos img {
    opacity: 0.8;
    height: 200px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 10px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    transform: scale(1.05);
    border: 3px solid #ffffff;
}
